<tr>
  <th>
    #
  </th>
  {{#each table.columns as |column|}}
    <th>
      <span>
        {{column.name}}
      </span>
      {{#bs-button onClick=(action "deleteColumn" column.id) type="danger"}}
        Delete
      {{/bs-button}}
    </th>
  {{/each}}
  <th>
    {{#bs-button type="primary" onClick=(action "addColumn")}}
      Add field
    {{/bs-button}}
  </th>
</tr>
