<!-- 
Copyright (C) Manuel Arno Korfmann - All Rights Reserved
Unauthorized copying of this file, or parts of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Manuel Arno Korfmann <manu@korfmann.info>, April 2018
-->


<tr>
  <th>
    #
  </th>
  {{#each table.columns as |column|}}
    <th>
      <span>
        {{column.name}}
      </span>
      {{#bs-button onClick=(action "deleteColumn" column.id) type="danger push-sm-left"}}
        Delete
      {{/bs-button}}
    </th>
  {{/each}}
  <th>
    {{#bs-button type="primary" onClick=(action "addColumn")}}
      Add field
    {{/bs-button}}
  </th>
</tr>
