
<tr>
  <th>
    #
  </th>
  {{#each table.columns as |column|}}
    <th>
      <span>
        {{column.name}}
      </span>

      {{select-light value=column.type options=columnTypes change=(action 'updateColumnType' column) class='form-control quarter-width inline-block push-sm-left'}}

      {{#bs-button onClick=(action "deleteColumn" column.id) type="danger push-sm-left"}}
        Delete
      {{/bs-button}}
    </th>
  {{/each}}
  <th>
    {{#bs-button type="primary" onClick=(action "addColumn")}}
      Add field
    {{/bs-button}}
  </th>
</tr>
