@import "ember-bootstrap/bootstrap";

.redesign {
  body {
    background-color: $blue;
    color: white;

    .btn {
      background-color: $orange;
    }
  }

  footer {
    padding: 20px;
    background-color: $indigo;

    .btn {
      background-color: white;
    }

    .simple-link {
      color: white;
    }
  }
}

.push-down {
  margin-top: 70px;
}

.push-down-xl {
  margin-top: 150px;
}

.push-left-sm {
  margin-left: 10px;
}

.push-left-m {
  margin-left: 20px;
}

.quarter-width {
  width: 25% !important;
}

.inline-block {
  display: inline-block !important;
}

.margin-sm {
  margin: 10px;
}

.dropdown-menu {
    width: 300px;
    height: auto;
}
