<div class='{{if fullscreen 'container-fluid' 'container push-down'}}'>
  {{outlet}}

  <footer class='push-down-xl'>
    {{#if authentication.isAuthenticated}}
      <a href='#' {{action "logOut"}} class='float-right'>Log out</a>
    {{/if}}

    {{#linkTo 'https://github.com/MangoSmoothie101010/natural-backend'}}
      Api source code (MIT license)
    {{/linkTo}}

    {{#linkTo 'https://github.com/MangoSmoothie101010/natural-frontend'}}
      Ember frontend source code (MIT license)
    {{/linkTo}}
  </footer>
</div>
