<div class='{{if fullscreen 'container-fluid' 'container push-down'}}'>
  {{outlet}}

  <footer class='push-down'>
    {{#if authentication.isAuthenticated}}
      {{#bs-button onClick=(action 'logOut') class='float-right'}}Log out{{/bs-button}}
    {{/if}}
  </footer>
</div>
