<div class='{{if fullscreen 'container-fluid' 'container push-down'}}'>
  {{outlet}}

  <footer class='push-down-xl'>
    {{#if authentication.isAuthenticated}}
      <a href='#' {{action "logOut"}} class='float-right'>Log out</a>
    {{/if}}
    <!-- <a href="https://github.com/MangoSmoothie101010/natural-backend">API source code</a> -
    <a href="https://github.com/MangoSmoothie101010/natural-frontend">Frontend source code</a> -->
  </footer>
</div>
