<div class='container push-down'>
  <h2>Authenticate</h2>

  <form {{action 'authenticate' on='submit'}}>
    {{input value=email placeholder='Email' class='form-control'}}<br>
    {{input value=password placeholder='Password' type='password' class='form-control'}}<br>
    <button class='btn btn-primary' type="submit">Login</button>
  </form>
</div>
