
<div class='container push-down'>
  <h1>Databases</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th width="20%">Query URL (POST Request) - Form data "sql": {SQL query}</th>
        <th width="20%">Query response URL (GET Request)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.databases as |database|}}
        <tr>
          <td>
            {{database.name}}
          </td>
          <td>
            http://195.201.43.71/databases/{{database.id}}/queries[?instant=1 for instant execution]
          </td>
          <td>
            http://195.201.43.71/databases/{{database.id}}/queries/{query id (returned by query creation resource)}
          </td>
          <td>
            {{#link-to 'tables' database.id class='btn btn-primary'}}
              Tables
            {{/link-to}}
            {{#bs-button type="danger" onClick=(action "deleteDatabase" database.id) class='push-sm-left'}}
              Delete
            {{/bs-button}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class='float-right'>
    {{#bs-button type="primary" onClick=(action "addDatabase")}}
      Add database
    {{/bs-button}}

    {{#bs-button onClick=(action 'transitionBack')}}
      Back
    {{/bs-button}}
  </div>
</div>
