<div class='push-down'>
  <h1>{{model.function.name}}</h1>
  {{ivy-codemirror value="class YourPostProcessor < Natural::Functions::PostProcessor
  def each_row(row)
    row.chomp
  end
end"
  options=(hash lineNumbers=true mode="ruby")}}
</div>
