<!-- 
Copyright (C) Manuel Arno Korfmann - All Rights Reserved
Unauthorized copying of this file, or parts of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Manuel Arno Korfmann <manu@korfmann.info>, April 2018
-->


<div class='container push-down'>
  <h1>Projects</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |project|}}
        <tr>
          <td>
            {{project.name}}
          </td>
          <td>
            {{#link-to 'databases' project.id class='btn btn-primary'}}
              Databases
            {{/link-to}}
            {{#bs-button type="danger" onClick=(action "deleteProject" project.id) class='push-sm-left'}}
              Delete
            {{/bs-button}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#bs-button type="primary" onClick=(action "addProject") class='float-right'}}
    Add project
  {{/bs-button}}
</div>
