<div class='container push-down'>
  <h1>Tables</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.tables as |table|}}
        <tr>
          <td>
            {{table.name}}
          </td>
          <td>
            {{#link-to 'table' table.id class='btn btn-primary'}}
              Show
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class='float-right'>
    {{#bs-button type="primary" onClick=(action "addTable")}}
      Add table
    {{/bs-button}}

    {{#bs-button onClick=(action 'transitionBack')}}
      Back
    {{/bs-button}}
  </div>
</div>
