
<div class='container-fluid'>
  <table class='table'>
    <thead class='thead-dark'>
      {{column-editor table=model}}
    </thead>
    <tbody>
      {{row-editor table=model}}
    </tbody>
  </table>

  {{#bs-button onClick=(action 'transitionBack') class='float-right'}}
    Back
  {{/bs-button}}
</div>
