<div class='container push-down'>
  <h1>Tables</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |table|}}
        <tr>
          <td>
            {{table.name}}
          </td>
          <td>
            {{#link-to 'table' table.id class='btn btn-primary'}}
              Show
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#bs-button onClick=(action 'transitionBack') class='float-right'}}
    Back
  {{/bs-button}}
</div>
