<!-- 
Copyright (C) Manuel Arno Korfmann - All Rights Reserved
Unauthorized copying of this file, or parts of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Manuel Arno Korfmann <manu@korfmann.info>, April 2018
-->


<div class='container-fluid'>
  <table class='table'>
    <thead class='thead-dark'>
      {{column-editor table=model}}
    </thead>
    <tbody>
      {{row-editor table=model}}
    </tbody>
  </table>

  {{#bs-button onClick=(action 'transitionBack') class='float-right'}}
    Back
  {{/bs-button}}
</div>
